/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Roboto", sans-serif;
    color: #1a3532;
    position: relative;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

ul {
    list-style: none;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    padding: 0 35px;
    justify-content: space-between;
    align-items: center;
    color: #fdfdfd;
    /* background-color: rgba(18, 20, 100, 0.9); */
    background-color: rgba(0, 0, 0, 0.6);
}

#logo {
    display: flex;
    align-items: center;
}

#logo-link {
    opacity: 1;
    color: #fdfdfd;
}

#logo h1 {
    margin-left: 20px;
}

.header-menu {
    width: 60%;
}

.header-links {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.header-links a {
    color: #fdfdfd;
    padding: 3vh 0;
}

.current-page {
    color: #2dcada !important;
}
/* Dropdowen submenu */
.dropdown {
    position: relative;
    line-height: 55px;
}

.dropdown-list {
    position: absolute;
    left: -50%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
    border-collapse: collapse;
    transform: translateY(-10px);
    color: #fdfdfd;
}

.dropdown-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dropdown-list li:first-child {
    border-radius: 5px 5px 0 0;
}
.dropdown-list li:last-child {
    border-radius: 0 0 5px 5px;
}

.dropdown-list li a {
    padding: 0 40px;
}

.dropdown a:hover + .dropdown-list,
.dropdown-list:hover {
    opacity: 1;
    pointer-events: all;
    transform: translateY(-2px);
}

/* Hamburger */
#hamburger {
    display: none;
    transition: all 0.7s ease-in-out;
}

#hamburger div {
    pointer-events: none;
    width: 20px;
    height: 3px;
    margin: 4px;
    background-color: #fdfdfd;
    transition: all 0.9s ease;
}

.toggle-burger .line1 {
    transform: rotate(-135deg) translate(-5px, 6px);
    position: relative;
    top: 2px;
}

.toggle-burger .line2 {
    opacity: 0;
}

.toggle-burger .line3 {
    transform: rotate(135deg) translate(-5px, -6px);
    position: relative;
    bottom: 1px;
}

/* main page section */
main {
    padding-top: 1px;
    margin-top: -1px;
    min-height: 80vh;
    padding-bottom: 50px;
}

/* Page title */
.page-title {
    /* header height(6vh+18px) + visible section */
    height: calc(6vh + 18px + 100px);
    padding-bottom: 35px;
    background: url("../img/page-title-background.jpg") no-repeat center
        center/cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.page-title h2 {
    font-size: 30px;
    color: #fdfdfd;
    animation: focus-in-expand-fwd 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    text-shadow: 2px 2px 2px #333333;
}

footer {
    min-height: 20vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.to-top-arrow {
    position: fixed;
    bottom: 35px;
    right: 35px;
    width: 50px;
    cursor: pointer;
    transform: rotate(-90deg);
    transition: opacity 0.1s ease-in;
    opacity: 0;
    pointer-events: none;
}

.to-top-arrow:hover {
    opacity: 0.8;
}

.show-to-top-arrow {
    opacity: 0.5;
    pointer-events: all;
}

/*================= HOME PAGE===================== */
/* main */
.home-main-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.slider {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.current {
    opacity: 1;
}

.slide .content {
    position: absolute;
    bottom: 70px;
    left: 30px;
    opacity: 0;
    width: 600px;
    background-color: rgba(253, 253, 253, 0.8);
    padding: 35px;
}
.slide.current .content {
    opacity: 1;
    transform: translateX(30px);
    transition: all 0.7s ease-in-out 0.3s;
}
.slide .content h2 {
    margin-bottom: 10px;
}

.next,
.prev {
    position: absolute;
    top: 50%;
    opacity: 0.7;
    width: 45px;
    transition: opacity 0.1s ease-in-out;
    cursor: pointer;
}

.next:hover,
.prev:hover {
    opacity: 1;
}

.next {
    right: 25px;
}

.prev {
    left: 25px;
    transform: rotate(180deg);
}

/* Background images */
.slide:first-child {
    background: url("../img/demo1.jpg") no-repeat center center/cover;
}
.slide:nth-child(2) {
    background: url("../img/demo2.jpg") no-repeat center center/cover;
}
.slide:nth-child(3) {
    background: url("../img/demo3.jpg") no-repeat center center/cover;
}
.slide:nth-child(4) {
    background: url("../img/demo4.jpg") no-repeat center center/cover;
}
.slide:nth-child(5) {
    background: url("../img/demo5.jpg") no-repeat center center/cover;
}
/* home section */
.home-page-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}

/* ==================== FOTO-ALBUMS-PAGE ================== */
.gallery-main-section {
    text-align: center;
}

.gallery-main-section .page-title {
    padding-bottom: 15px;
}

.photo-albums-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px 35px;
    padding: 40px 5%;
    width: 100%;
}

.photo-albums-container a:hover {
    opacity: 1;
}

.foto-album {
    display: inline-block;
    position: relative;
    width: 100%;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.6);
}

.album-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fdfdfd;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.foto-album:hover + .album-hover,
.album-hover:hover {
    opacity: 1;
}

.album-description {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
    color: #fdfdfd;
    background-color: rgba(0, 0, 0, 0.8);
}

.album-thumbnails-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 120px;
}

.album-thumbnails-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ================================FOTO-GALLERY-PAGE======================= */
.photo-gallery {
    text-align: center;
    justify-content: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    padding: 0px 10vw;
}

.gallery-details {
    padding: 30px 10%;
}

.photo-gallery-item {
    height: 150px;
    overflow: hidden;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.8);
}

.photo-gallery-pic {
    cursor: zoom-in;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}
.photo-gallery-item:hover .photo-gallery-pic {
    transform: scale(1.1);
    filter: sepia(100%);
}

/* Gallery modal */
.gallery-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.show {
    visibility: visible;
}

.close {
    position: absolute;
    top: 35px;
    right: 35px;
    color: #fdfdfd;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: bolder;
    padding: 10px;
    text-shadow: 2px 2px 2px #000000;
}

.close:hover {
    opacity: 0.7;
}

.current-foto {
    max-width: 90%;
    height: calc(90vh - 50px);
    margin-bottom: 5px;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;
}

.current-foto-link {
    cursor: zoom-in;
}

.current-foto-link:hover {
    opacity: 1;
}

.current-foto img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.gallery-slider-container {
    display: flex;
    position: relative;
    height: 75px;
    max-width: 90%;
    box-shadow: 0 0 2px 1px silver;
}

.gallery-slider {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    background-color: #000000;
}

.modal-slider-pic {
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
    transition: opacity 0.3s ease-in-out;
}

.modal-slider-pic:hover {
    opacity: 1;
}

.modal-slider-pic::selection {
    background-color: transparent;
}

.slide-left,
.slide-right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    padding: 5px;
    color: #fdfdfd;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

.slide-left::selection,
.slide-right::selection {
    background-color: transparent;
}

.prev-modal::selection,
.next-modal::selection {
    background-color: transparent;
}

.slide-left {
    left: 0;
}

.slide-right {
    right: 0;
}

.prev-modal,
.next-modal {
    width: 20px;
    opacity: 0.6;
}

.prev-modal {
    transform: rotate(180deg);
}

.prev-modal:hover,
.next-modal:hover {
    opacity: 1;
}

.current-slide-thumbnail {
    opacity: 1;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
    .page-title h2 {
        font-size: 25px;
    }

    /* foto albums page */
    .photo-albums-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 35px;
        padding: 35px;
    }

    /*foto gallery page */
    .photo-gallery {
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        padding: 20px;
    }
    .current-foto {
        max-width: 98%;
        height: 70vh;
    }
    .gallery-slider-container {
        max-width: 98%;
    }
    .gallery-slider {
        overflow-x: auto;
    }
    .gallery-slider-container {
        height: 70px;
    }
}

@media (max-width: 768px) {
    header {
        height: 10vh;
        background-color: rgba(0, 0, 0, 0.8);
    }
    #hamburger {
        display: block;
    }
    .header-menu {
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 10vh;
        height: 90vh;
        z-index: 1;
        display: flex;
        justify-content: flex-end;
        transform: translateX(100%);
        transition: transform 0.7s ease-in-out;
    }
    .show-nav {
        transform: translateX(0%);
    }
    .header-links {
        width: 60%;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 10vh;
        background-color: rgba(0, 0, 0, 0.8);
    }

    main {
        padding-bottom: 10px;
    }

    .page-title h2 {
        font-size: 22px;
    }

    /* foto albums page */
    .album-thumbnails-container {
        grid-auto-rows: 80px;
    }
}

@media (max-width: 400px) {
    #logo h1 {
        font-size: 20px;
    }
    /* Home page */
    .slide .content {
        bottom: -300px;
        left: 0;
        width: 100%;
    }

    .slide.current .content {
        transform: translateY(calc(-5vh - 300px));
    }

    .next,
    .prev {
        top: 40%;
        width: 25px;
        opacity: 1;
    }

    .next {
        right: 10px;
    }

    .prev {
        left: 10px;
    }

    /* foto albums page */
    .photo-albums-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        padding: 20px;
    }

    /* foto gallery page */

    .page-title h2 {
        font-size: 18px;
    }

    .gallery-details {
        padding: 10px 5%;
        font-size: 14px;
    }

    .photo-gallery {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        grid-gap: 10px;
        padding: 0 10px;
    }

    .current-foto {
        max-width: 100%;
        height: 70vh;
    }
    .gallery-slider-container {
        max-width: 100%;
    }
    .photo-gallery-item {
        height: 100px;
    }

    .slide-left,
    .slide-right {
        display: none !important;
    }
}

/* ANIMATIONS */
/* Page titles */
@keyframes focus-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        transform: translateZ(-800px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0);
        filter: blur(0);
        opacity: 1;
    }
}

/* fade in */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
