/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #333;
    background-color: #fdfdfd;
}

a:hover {
    opacity: 0.7;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 10vh;
    width: 100%;
    display: flex;
    padding: 0 35px;
    justify-content: space-between;
    align-items: center;
    color: #fdfdfd;
    background-color: rgba(34, 42, 149, 0.7);
}

#logo {
    display: flex;
    align-items: center;
}

#logo h1 {
    margin-left: 20px;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
    padding: 0 20px;
}

header ul li a {
    color: #fdfdfd;
    text-decoration: none;
}

/* HOME PAGE */
/* main-section */
.home-main-section {
    position: relative;
}

.slider {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.current {
    opacity: 1;
}

.slide .content {
    position: absolute;
    bottom: 70px;
    left: 30px;
    opacity: 0;
    width: 600px;
    background-color: rgba(253, 253, 253, 0.8);
    color: #333;
    padding: 35px;
}
.slide.current .content {
    opacity: 1;
    transform: translateX(30px);
    transition: all 0.7s ease-in-out 0.3s;
}
.slide .content h2 {
    margin-bottom: 10px;
}

#next,
#prev {
    position: absolute;
    top: 50%;
    opacity: 0.8;
    width: 35px;
    transition: opacity 0.1s ease-in-out;
}

#next:hover,
#prev:hover {
    cursor: pointer;
    opacity: 1;
}

#next {
    right: 25px;
}

#prev {
    left: 25px;
    transform: rotate(180deg);
}

/* Background images */
.slide:first-child {
    background: url("../img/demo1.jpg") no-repeat center center/cover;
}
.slide:nth-child(2) {
    background: url("../img/demo2.jpg") no-repeat center center/cover;
}
.slide:nth-child(3) {
    background: url("../img/demo3.jpg") no-repeat center center/cover;
}
.slide:nth-child(4) {
    background: url("../img/demo4.jpg") no-repeat center center/cover;
}
.slide:nth-child(5) {
    background: url("../img/demo5.jpg") no-repeat center center/cover;
}

/* GALERY PAGE */
.galery-main-section {
    margin-top: 10vh;
    padding: 50px 5%;
    text-align: center;
}

.galery-main-section h2 {
    font-size: 48px;
    margin: 40px auto 80px;
}

.photo-galery {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.photo-galery a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-galery a:hover {
    opacity: 0.9;
}

.photo-galery a img {
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .home-main-section ul {
        display: none;
    }
}

@media (max-width: 500px) {
    .slide .content {
        bottom: -300px;
        left: 0;
        width: 100%;
    }
    .slide.current .content {
        transform: translateY(-300px);
    }
}
